<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kaanburaksener.alphabeta" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".ui.SplashActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".ui.MainMenuActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".ui.admin.OptionsActivity"
            android:label="@string/options_title" >
        </activity>

        <activity
            android:name=".ui.admin.OptionsWordListActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".ui.admin.OptionsWordListDetailActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".ui.admin.AddNewWordActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".ui.WordListTabDetailActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
